*
*/**

!.config/
!.config/dunst/
!.config/dunst/**
!.config/eww/
!.config/eww/**
!.config/ghostty/
!.config/ghostty/**
!.config/hypr/
!.config/hypr/**
!.config/waybar/
!.config/waybar/**
!.config/rofi/
!.config/rofi/**
!.config/qt5ct/
!.config/qt5ct/**
!.config/qt6ct/
!.config/qt6ct/**
!.config/xdg-desktop-portal/
!.config/xdg-desktop-portal/**
!.config/wlogout/
!.config/wlogout/**
!.config/swww/
!.config/swww/**
!.config/gtk-3.0/
!.config/gtk-3.0/**
!.config/gtk-4.0/
!.config/gtk-4.0/**

!.icons/
!.icons/Gruv-Cursor/
!.icons/Gruv-Cursor/**
!.local/
!.local/share/
!.local/share/light-mode.d/
!.local/share/light-mode.d/**
!.local/share/dark-mode.d/
!.local/share/dark-mode.d/**

!.bash*
!.gitignore